INTAPP_APP_HOST=https://shalaka2-sand.opensandbox2.intapp.com
INTAPP_CLIENT_ID=PDLCFL4XR0
INTAPP_CLIENT_SECRET=paste-your-secret-here
INTAPP_REDIRECT_URI=https://shalaka2-sand.opensandbox2.intapp.com:443
